* {
  box-sizing: border-box;
}

/* General styles */

section,
h1,
.playArea,
.gameDetails form,
.board > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  width: 100vw;
  height: 100vh;

  flex-direction: column;
}

h1 {
  height: 20%;

  font-size: 3rem;
}

.hide {
  height: 0%;
  position: absolute;
  top: -9999px !important;
  left: -9999px !important;
}

/* playArea styles */

.playArea {
  height: 80%;

  flex-direction: column;
  justify-content: space-around;
}

.board {
  width: 25vw;
  height: 25vw;
  min-width: 150px;
  min-height: 150px;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);

  background-color: antiquewhite;

  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

.board > div {
  min-width: 50px;
  min-height: 50px;

  font-size: 3rem;

  border-left: 1px solid black;
  border-top: 1px solid black;
}
.board > div:hover {
  background-color: rgb(167, 152, 134);
}

.gameOutcome {
  font-size: 4rem;

  margin-bottom: 3rem;
}

#resetBoard {
  margin-bottom: 3rem;
}

.winner {
  background-color: rgb(85, 219, 58);
}
.draw {
  background-color: rgb(194, 154, 122);
}

/* Game details styles */

.gameDetails {
  height: 80%;

  padding-top: 3rem;

  font-size: 2rem;
}

.gameDetails h2 {
  font-size: 3rem;

  margin-bottom: 2rem;
}

.gameDetails form {
  flex-direction: column;
}

.gameDetails input {
  height: 1.5rem;
}
.gameDetails input[type="checkbox"] {
  padding: 1.5rem;
  background-color: red;
}

.inputGroup {
  margin: 2rem 0;
}

/* Media queries */

@media (max-width: 768px) {
  .board {
    width: 60vw;
    height: 60vw;
  }
}
@media (max-width: 425px) {
  #playerDetails h2 {
    font-size: 2.5rem;
  }
  .inputGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
